*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
/* navigation */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height: 55px;
    width: 110px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 60px;
    width: 100%;
}
.border{
    border: 1px solid transparent;
    height: 55px;
}
.border:hover{
    border: 1px solid white;
}
/* box2 */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    text-align: center;
}
.add-second{
    font-size: 1rem;
    text-align: center;
}
.add-icon {
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
    border-radius: 6px;
}
.search-select{
    background-color: #f3f3f3f3;
    width: 50px;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-select:hover{
    background-color: rgb(221, 216, 216);
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-icon:hover{
    background-color: #f1a746;
}
/* box4 */
.nav-language{
    border: 1px solid transparent;
    height: 55px;
    width: 110px;
    display: flex;
    align-items: center;
}
/* box5 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box6 */
.nav-cart i{
    font-size: 30px;
    padding-top: 8px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.panel-border{
    border: 1px solid transparent;
    padding: 10px;
}
.panel-border:hover{
    border: 1px solid white;
    padding: 10px;
}
/* navigation */
.btn_one b{
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: fixed;
    top: 0px;
    left: -360px;
    height: 100vh;
    width: 350px;
    background-color: white;
    transition: all 0.3s linear;
}
.sidebar_menu .logo-sign{
    background-color:#007185;
    position: absolute;
    width: 100%;
    line-height: 60px;
    height: 60px;
}
.sidebar_menu .logo-sign a{
    position: absolute;
    left: 50px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .logo-sign i{
    color: white;
}
.sidebar_menu .btn_two i{
    color: white;
    position: absolute;
    font-size: 25px;
    line-height: 60px;
    font-weight: 700;
    left: 275px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}
.a{
  margin-top: 60px;
}
.h{
    color: black;
    font-size: 22px;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
}

.sidebar_menu .menu{
    display: flex;
    padding-left: 20px;
    flex-wrap: wrap;
}
.sidebar_menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu i{
    color: gray;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu a{
    color: gray;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu i{
    padding-right: 8px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 0px  black;
    background-color: rgb(236, 222, 222);
}
.menu i:hover{
    color: #222f3d;
}
.menu a:hover{
    color: #222f3d;
}
.btn_two i:hover{
    font-size: 30px;
}
#check:checked~.sidebar_menu{
    left: 0;
}
#check:checked~.btn_one{
    opacity: 0;
}
#check:checked~.sidebar_menu .btn_two i{
    opacity: 1;
}
.sidebar_menu .social_media i{
    color: black;
    opacity: 0.5;
    padding: 0 5px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
/* hero section */
.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin: 25px;
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}
.hero-msg a:hover{
    text-decoration: underline;
    color: darkblue;
}
/* shop section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
.box-content p:hover {
    color: darkblue;
}
/* footer */
footer{
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-panel1:hover{
    opacity: 90%;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px; 
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 ul{
    margin-top: 40px;
}
.foot-panel2 ul a{
    display: block;
    font-size: 0.84rem;
    margin-top: 10px;
    color: #DDDDDD;
}
.foot-panel2 a:hover{
    text-decoration: underline;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid grey;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel3 .logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 60px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 20px;
}
.foot-panel4 b{
    color: rgba(255, 255, 255, 0.796);
    font-size: small;
}
.foot-panel4 a{
    font-size: small;
    text-decoration: none;
    color: #ddddddc4;
}
.foot-panel4 a:hover{
    text-decoration: underline;
}
.foot-panel4 ul a{
    display: block;
    margin: 10px;
    font-size: 0.84rem;
}
.foot-panel5{
    background-color: #0f1111;
    color: rgba(255, 255, 255, 0.878);
    height: 100px;
    font-size: 0.72rem;
    text-align: center;
}
.pages{
    padding-top: 15px;
    padding-left: 2px;
}
.pages a{
    margin-left: 10px;
    padding-left: 10px;
}
.pages a:hover{
    text-decoration: underline;
}
.copyright{
    padding: 10px;
}